:root {
    --clrDarkOcean: #348888;
    --clrOcean: #22BABB;
    --clrLightOcean: #9EF8EE;
    --clrOrange: #FA7F08;
    --clrDarkOrange: #F24405;
    --clrLightGreen: #9AEBA3;
    --clrVeryLightGreen: #DAFDBA;
    --clrGreen: #03A64A;
    --clrDarkGreen: #025940;
    --clrDarkBlue: #024059;
    --colorJean: #04BF8A;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E9E5F5;
    margin: 0;
    padding: 0;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

h2 {
    font-size: 2rem;
    color: var(--clrDarkBlue);
}

ul {
    list-style-type: none;
}

figure {
    border: 8px solid salmon;
    border-radius: 4px;
    max-height: 400px;
    margin: 0 0 0.5rem 0;
    overflow: hidden;
    position: relative;
}

section img {
    margin-bottom: -4px;
    width: 100%;
    object-fit: cover;
    object-position: 0 -150px;

}

figcaption {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.875rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--colorJean);
}

footer {}


@media (min-width: 550px) {
    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    li {
        flex-basis: 49.5%;
    }

    section img {
        object-position: 0;
    }
}

@media (min-width: 800px) {
    li {
        flex-basis: 32.5%;
    }

    h2 {
        margin-left: 100px;
    }
}